* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255,255,255,.2);
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-main > .ant-image{
  width: 100% !important;
}